<%- include('partials/header') -%>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img id="main-logo" src="/images/logo.png" width="387px" height="auto">
            </div>
        </div>
    </section>
    <section class="blog-posts">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="columns featured-post is-multiline">
                        <div class="column is-12 post">
                            <article class="columns featured">
                                <div class="column is-7 post-img ">
                                    <img src="/images/image1.png" alt="Article Image">
                                </div>
                                <div class="column is-5 featured-content va">
                                    <div>
                                        <h3 class="heading post-category">Состав прокуратуры</h3>
                                        <h1 class="title post-title">Генеральный Прокурор</h1>
                                        <p class="post-excerpt">Генеральным Прокурором штата является John Rich. <br>
                                            <hr>
                                            <a href="https://vk.com/pyankoff_official">Электронная почта</a> <br>
                                            <span class="discord-contact">Спец. Связь:</span> John Rich#1432
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <hr>
                    <h1 class="title has-text-centered">Последние новости</h1>
                    <section class="section">
                        <div class="columns is-centered">
                            <div class="column is-6">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img class="is-128x128"
                                                src="<%= news[0].imgUrl %>"
                                                alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <img src="/images/logo-circle.png"
                                                        alt="Logo">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4"><%= news[0].title %></p>
                                                <p class="subtitle is-6">@<%= news[0].author %></p>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <%= news[0].description %> 
                                            <hr>
                                            <p>Опубликовано : <%= news[0].date %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    </div>
    </section>
    <%- include('partials/footer') -%>