<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/order.css" />
<div id="order" class="container is-widescreen">
    <div class="level">
        <figure class="image level-left">
            <img src="/images/logo-circle.png" alt="Logo" width="100" height="100" />
        </figure>
        <div class="level-right">
            <h1 class="subtitle">Министерство Юстиции США</h1>
        </div>
    </div>
    <hr>
    <h1 class="title has-text-centered underline">В РОЗЫСКЕ</h1>
    <hr>
    <h1 сlass="title"><b>УВЕДОМЛЕНИЕ АГЕНСТВУ, ПРОИЗВОДЯЩЕМУ АРЕСТ: </b>Перед арестом подтвердите ордер в Министерстве Юстиции.</h1>
    <hr>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification">
                <p class="subtitle"><b>ИМЯ И ФАМИЛИЯ: </b><%= order.name %> <%= order.surname %>  </p>
                <hr>
                <p class="title has-text-centered">Описание:</p>
                <p class="subtitle">
                    <p><b>Пол: </b><%= order.gender %></p>
                    <p><b>Раса: </b><%= order.race %></p>
                    <p><b>Место рождения: </b><%= order.birthplace %> </p>
                    <p><b>Дата рождения: </b><%= order.birthdate %> </p>
                    <p><b>Рост: </b><%= order.height %> </p>
                    <p><b>Вес: </b><%= order.weight %> </p>
                    <p><b>Глаза: </b><%= order.eyeColor %> </p>
                    <p><b>Волосы: </b><%= order.hairColor %> </p>
                </p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <p class="subtitle">
                <p><b>Разыскивается за: </b><%= order.wantedReason %>  "Уголовного Кодекса"</p>
                <p><b>Орден выдан: </b><%= order.issuedBy %> </p>
                <p><b>Номер ордера: </b><%= order.orderId %></p>
                <p><b>Дата выдачи ордера: </b><%= order.issueDate %> </p>
                <p><b>Действителен до: </b><%= order.validUntil %> </p>
            </p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <div class="content">
                <img src="<%= order.imgUrl %>" alt="Order image">
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ:</p>
          <p class="subtitle"><%= order.additional %></p>
          <div class="content">
            <% if (order.isDanger === "Да") {%> 
            <p class="danger">Считать, как особо опасного.</p>
            <% } %> 
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <div class="content">
            <p><b>Если вы арестовали данного челоека или вам известно, его местонахождение, сообщите об этом в Министерстве Юстиции, если ответа не поступит, свяжитесь с федеральным расследовательским бюро. Код доступа NLETS.</b></p>
          </div>
        </article>
      </div>
      <% if (user) { %>
        <% if (user.level >= 4) { %>
          <br>
          <hr>
      <form action="/orders/<%= order.orderId %>" method="POST">
        <div class="select is-medium">
          <select name="status">
            <option selected disabled value="<%= order.status %>"><%= order.status %></option>
            <option value="Модерация">Модерация</option>
            <option value="Архив">Архив</option>
            <option value="Активные">Активные</option>
            <option value="Удалить">Удалить</option>
          </select>
        </div>
        <br>
        <br>
        <button class="button is-success" type="submit">Подтвердить</button>
        </form>
      <% } %> <% } %>  
    </div>
    </div>
</div>
<%- include('partials/footer') -%>
