<%- include('partials/header')  -%>
<section class="blog-posts">
    <div class="container">
        <h1 class="has-text-centered title">Состав прокуратуры</h1>
        <% if (user) { %>
            <% if (user.level >= 4) { %>  
        <a class="button" href="/prosecutors/edit">Изменить</a>
        <% }} %> 
        <hr>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img ">
                                <img src="<%= federal.imgUrl %>" alt="Image">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Состав прокуратуры</h3>
                                    <h1 class="title post-title">Генеральный Прокурор</h1>
                                    <p class="post-excerpt">Генеральным Прокурором штата является <%= federal.name %> <%= federal.surname %>. <br>
                                        <hr>
                                        <%= federal.info %> 
                                </p>
                                    <br>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <h1 class="has-text-centered title">Прокуроры недели</h1>
                <div class="columns is-multiline">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="<%= week[0].imgUrl %>" alt="Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Los-Santos</h3>
                                <h1 class="title post-title"><%= week[0].name %> <%= week[0].surname %> </h1>
                                <p class="post-excerpt"><%= week[0].info %> </p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="<%= week[1].imgUrl %>" alt="Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Blaine County</h3>
                                <h1 class="title post-title"><%= week[1].name %> <%= week[1].surname %> </h1>
                                <p class="post-excerpt"><%= week[1].info %> </p>
                                <br>
                            </div>
                        </article>
                    </div>
                    </div>
                    <hr>
            
                <h1 class="has-text-centered title">Округ Los-Santos</h1>
                <div class="columns is-multiline">
                    <% ls.forEach((el, i) => { %>
                        <div class="column post is-4">
                            <article class="columns is-multiline">
                                <div class="column is-12 post-img">
                                    <img src="<%= el.imgUrl %> " alt="Image">
                                </div>
                                <div class="column is-12 featured-content ">
                                    <h3 class="heading post-category">Округ Los-Santos</h3>
                                    <h1 class="title post-title"><%= el.name %> <%= el.surname %></h1>
                                    <p class="post-excerpt"><%= el.info %> </p>
                                    <br>
                                </div>
                            </article>
                        </div>
                        <% }) %>
                </div>
                <hr>
                <h1 class="has-text-centered title">Округ Blaine County</h1>
                <div class="columns is-multiline">
                    <% bc.forEach((el, i) => { %>
                        <div class="column post is-4">
                            <article class="columns is-multiline">
                                <div class="column is-12 post-img">
                                    <img src="<%= el.imgUrl %> " alt="Image">
                                </div>
                                <div class="column is-12 featured-content ">
                                    <h3 class="heading post-category">Округ Blaine County</h3>
                                    <h1 class="title post-title"><%= el.name %> <%= el.surname %></h1>
                                    <p class="post-excerpt"><%= el.info %> </p>
                                    <br>
                                </div>
                            </article>
                        </div>
                        <% }) %>
                </div>
                </div>
            </div>
        </article>
    </div>
</section>
<%- include('partials/footer')  -%>